@page
@model WebApplication4.Pages.Catalog.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemstockT</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemstockT.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemstockT.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemstockT.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemstockT.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemstockT.ItemNumberNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemstockT.ItemNumberNavigation.ItemId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ItemstockT.ItemNumber">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
