@page
@model WebApplication4.Pages.account.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserT</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserDob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserDob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserT.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
