@page
@model WebApplication4.Pages.account.Info

<body>
      <nav id="primary_nav">
                <ul>
                    <li><h3>Dashboard</h3></li>
                    <hr>
                    <li><span><i class="fa-solid fa-user"></i> <a href="">Profile</a> </span></li>
                    <hr>
                    <li><span><i class="fa-solid fa-gear"></i><a href="">Settings</a></span></li>
                    <hr>
                    <li><span><i class="fa-solid fa-wallet"></i><a href="">Billing</a></span></li>
                    <hr>
                    <li><span><i class="fa-solid fa-arrow-left-long"></i> <a href="signin.html">Log out</a></span></li>
                    <hr>
                </ul>
            </nav>
<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserDob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserDob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserT.UserPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserT.UserPassword)
        </dd>
      <script src="~/js/account.js"></script>
      <script src="~/js/home.js"></script>
        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
        ></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>